.parallaxBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  /* opacity: .7; */
  filter: brightness(1);
  z-index: 1;
}

.cardsSectionContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.cardsSectionTitle {
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  margin: 1em 0;
}

.card {
  text-align: center;
  height: 300px;
  margin-bottom: 2.5rem;
  overflow-y: hidden;
}

.card img {
  width: 80px;
  max-height: 80px;
  object-fit: fill;
}

.card p {
  margin-top: 2rem;
  font-size: 1rem;
}

@media (max-width: 550px) {
  .cardsSectionTitle {
    font-size: 2rem;
  }
}
@media (max-width: 440px) {
  .cardsSectionTitle {
    font-size: 1.5rem;
  }
}
